/************************* 底部切换样式 ***************************/
.foot-tab {
  height: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: .02rem solid #c5c3c4;
}
.foot-tab > div {
  height: 1rem;
  color: #7a7a7a;
}
.foot-tab > div + div {
  border-left: .02rem solid #c5c3c4;
}
.foot-tab .text {
  font-size: .20rem;
}
.foot-tab .icon {
  position: relative;
  font-size: 0.42rem;
}
.foot-tab-active {
  color: #239aed !important;
}
/************************** 打卡分页 *****************************/
.header {
  height: 1.4rem;
  border-bottom: .02rem solid #eeeded;
  background: #f9f9fa;
  padding: .20rem;
}
.header .img {
  position: relative;
  width: 1rem;
  height: 1rem;
  margin: 0 .17rem;
}
.header .img > img {
  width: 100%;
  height: 100%;
  position: absolute;
}
.header .icon {
  position: relative;
  font-size: 0.42rem;
  color: #979797;
}
.header .des {
  height: 1rem;
  padding: 0 0.08rem;
}
.name {
  font-size: .32rem;
  color: #000;
}
.age {
  font-size: .28rem;
  color: #747474;
}
/* 日历表相关 */
.datemap .week {
  height: .6rem;
  text-align: center;
  color: #303030;
  background: #e0e0e0;
  font-size: .26rem;
  position: relative;
  width: 100vw;
}
.datemap .week > div {
  float: left;
  height: 100%;
  width: calc(100% / 7);
  line-height: .6rem;
}
.datemap .week > div:first-child, .datemap .week > div:last-child {
  color: #ff9900;
}
.datemap .curr-month {
  position: relative;
  overflow: hidden;
  width: 100vw;
  font-size: .26rem;
  border-bottom: .01rem solid #e4e4e4;
}
.datemap .curr-month .title {
  width: 100%;
  font-size: .3rem;
  text-align: center;
  padding: .2rem 0;
}
.datemap .curr-month .date {
  width: 100%;
  overflow: hidden;
}
.datemap .curr-month .date > div {
  width: calc(100% / 7);
  float: left;
  height: 1.05rem;
  margin: .2rem 0 .1rem 0;
}
.datemap .curr-month .date-value {
  border-radius: 50%;
  width: .44rem;
  height: .44rem;
  font-size: .26rem;
  line-height: .44rem;
  text-align: center;
}
.datemap .curr-month .date-des {
  font-size: .20rem;
  color: #b2b2b2;
  padding-top: .1rem;
  text-align: center;
}
/* .van-list {
  height: 8.5rem;
  overflow-y: scroll;
} */
.color1 {
  background: #0fc9d0;
  color: #fff;
}
.color2 {
  background: #35a5f3;
  color: #fff;
}
.m-shape-big {
  height: 8.8rem;
}
.m-shape-small {
  height: 7.5rem;
}
.month-scroll {
  height: 8.5rem;
  overflow-y: scroll;
}
/* 打卡模块 */
.dk-wrap {
  height: 9.67rem;
}
.dk-view {
  width: 100%;
  padding: .26rem 0;
}
.dk-view .hlight {
  padding-left: .25rem;
  color: #000;
}
.circle-bg {
  border: .05rem solid #69c1ff;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: linear-gradient(to bottom, #5abafe, #2192e1);
  color: #fff;
}
.circle-bg .text {
  font-size: .42rem;
}
.circle-bg .time {
  font-size: .46rem;
}
/* 重写van step样式 */
.van-steps__items > div:not(:last-child) > .van-step__line {
  top: 0.5rem !important;
}
.van-steps__items > div:last-child > .van-step__line {
  height: 0 !important;
}
.van-step__line {
  width: 0.02rem !important;
  background-color: #a7a7a7 !important;
  left: -0.3rem !important;
}
.van-step--vertical:not(:last-child)::after { border-bottom-width: 0;}
.van-step:last-child > .van-step__line {
  height: 25%;
}
.van-step .van-step__circle {
  width: .44rem;
  height: .44rem;
}
.van-step--vertical .van-step__circle {
  top: .16rem;
  left: -0.5rem;
}
.van-step:first-child  .van-step__circle::after, .van-step:not(:first-child) .van-step__circle::after{
  position: absolute;
  color: #fff;
  left: 0.02rem;
  top: 0.02rem;
  font-style: initial;
  font-size: 0.26rem;
  width: .40rem;
  height: .40rem;
  border-radius: 50%;
  background: #b9b9b9;
  text-align: center;
  line-height: .40rem;
}
.van-step:first-child  .van-step__circle::after {
  content: '上';
}
.van-step:not(:first-child)  .van-step__circle::after {
  content: '下';
}
.van-step--vertical .van-icon-checked {
  width: .44rem;
  height: .44rem;
  top: .16rem;
  left: -0.5rem;
  background-color: #82cbff;
  border-radius: 50%;
}
.van-step--vertical .van-icon-checked::before {
  content: "";
  width: .40rem;
  height: .40rem;
  position: absolute;
  background: #239aed;
  border-radius: 50%;
  left: .02rem;
  top: .02rem;
}
.van-steps--vertical {
  padding: 0 0 0 1rem;
}
.van-step--vertical {
  height: 1.3rem;
}
.van-step__title {
  padding-left: .26rem;
  font-size: .3rem;
}
.van-step__title > div + div {
  margin-top: .2rem;
}
/* 打卡对话框 */
.dk-dialog .van-button__text{
  width: 100%;
  display: block;
  background: url(../images/cancel.png) no-repeat;
  height: 100%;
  background-position: 50%;
  background-size: .4rem;
}
.dk-dialog .van-dialog__footer {
  background: #f8f8f8;
}

/************************** 统计分页 *****************************/
/* 时间选择部分 */
.time-picker-wrap {
  height: .76rem;
  color: #303030;
  font-size: .30rem;
}
.time-picker-wrap > div + div {
  margin-left: .28rem;
}
.btn-ar-down {
  width: .32rem;
  height: .32rem;
  border: .01rem solid #d8d8d8;
  border-radius: .05rem;
  position: relative;
}
.btn-ar-down::after {
  position: absolute;
  top: calc(50% - 0.04rem);
  left: calc(50% - 0.06rem);
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-top-color: #4bacf7;
  border-width: 0.08rem;
}
/* 展示部分 */
.show-wrap {
  height: 2rem;
  padding: .42rem;
}
.show-wrap > div:first-child {
  padding-left: 0.08rem;
}
.show-wrap > div:last-child {
  padding-right: 0.32rem;
}
.bg-blue {
  background: #4bacf7;
}
.day-count {
  font-size: .4rem;
  color: #fff;
}
.day-count .num {
  font-size: .8rem;
}
/* 次数部分 */
.no-clock-wrap {
  height: 2rem;
  padding: .42rem;
}
.no-clock-cell {
  width: 1.75rem;
  height: 1rem;
  font-size: .34rem;
}
.no-clock-cell .title {
  color: #d2d2d2;
}
.no-clock-cell .num {
  color: #303030;
}
.v-line {
  height: .7rem;
  width: .02rem;
  background: #d2d2d2;
}
/* 弹窗控制按钮 */
.pop-btns {
  padding: .2rem;
  font-size: .3rem;
}
.pop-btns .btn-cancel{
  color: #303030;
}
.pop-btns .btn-success{
  color: #35a5f3;
}
.pickers > div + div {
  margin-left: .6rem;
}
/* 重写picker样式 */
.van-hairline--top-bottom::after {
  display: none;
}
.van-picker-column__item--selected {
  position: relative;
}
.van-picker-column__item--selected::after {
  display: block;
  content: "";
  position: absolute;
  width: 80%;
  height: 0.02rem;
  background: #35a5f3;
  bottom: 10%;
  left: 10%;
}
.van-picker-column {
  font-size: .4rem;
}
